@font-face {
  font-family: "Montserrat";
  src: url('./fonts/Montserrat-Regular.ttf'),
       url('./fonts/Montserrat-Medium.ttf'),
       url('./fonts/Montserrat-Bold.ttf');
}

body {
  font-family: "Montserrat";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
